{{define "follow"}}
<form class="jobs-settings">
    <div class="row">
        <legend class="form-group" style="padding-bottom: 0px;">Follows Per Day</legend>
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">From</label>
                <input min="0" max="7500" name="followFrom" value="{{.Acc.FollowsPerDay}}" type="number" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group label-floating">
                <label class="control-label">To</label>
                <input min="0" max="7500" name="followTo" value="{{.Acc.FollowsPerDay}}" type="number" class="form-control">
                <span class="material-input"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="terms">
                    <span class="checkbox-material">
                    </span> Follow Private Accounts
                </label>
            </div>
        </div>
    </div>
</form>
{{end}}