{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Accounts</h4>
                <p class="category">You can edit or remove them by clicking on the respective action.</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Added At</th>
                        <th>Proxy</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {{range .Accounts}}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.Username}}</td>
                            <td>{{.AddedAt.Format "Mon Jan 2, 3:04 PM "}}</td>
                            <td>{{.Settings.Proxy}}</td>
                            <td class="td-actions text-right">
                                <a href="/accounts/{{.Username}}">
                                    <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                        <i class="material-icons">person</i>
                                        <div class="ripple-container"></div>
                                    </button> 
                                </a>

                                <button username="{{.Username}}" type="button" rel="tooltip" class="btn btn-danger delete-account" data-original-title=""
                                    title="">
                                        <i class="material-icons">close</i>
                                        <div class="ripple-container"></div>
                                </button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}