{{define "content"}}
<div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
        <form name="addAccount" action="/api/accounts/create" method="post">
            <div class="card card-login">
                <div class="card-header text-center" data-background-color="purple">
                    <h4 class="card-title">Add Account</h4>
                    <div class="social-line">
                    </div>
                </div>
                <br>
                <p class="category text-center">
                    Enter in your Instagram Details Below.<br>All data remains on your device encrypted.<br>
                    <i class="material-icons">arrow_downward</i>
                </p>
                <div class="card-content">
                    <div class="input-group">
                        <span class="input-group-addon">
                                <i class="material-icons">face</i>
                    </span>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Username</label>
                            <input name="username" type="text" class="form-control" required>
                            <span class="material-input"></span></div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                <i class="material-icons">lock_outline</i>
                            </span>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Password</label>
                            <input name="password" type="password" class="form-control" required>
                            <span class="material-input"></span></div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                                <i class="material-icons">network_wifi</i>
                            </span>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Proxy (Optional)</label>
                            <input name="proxy" type="url" class="form-control">
                            <span class="material-input"></span></div>
                    </div>
                </div>
                <div class="footer text-center">
                    <svg style="display:none;" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                    </svg>
                    <br>
                    <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}