{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Edit Settings</h4>
                <p class="category">This is for all of Instahelper!</p>
            </div>
            <div class="card-content">
                <form name="changeSettings" action="/api/settings/edit" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Username {{ if gt (len .C.Username) 0 }} ({{.C.Username}}){{end}}
                                </label>
                                <input name="username" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Password{{ if eq (len .C.Password) 0 }} (No Password Set){{end}}</label>
                                <input name="password" type="password" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">Port ({{.C.Port}})
                                </label>
                                <input name="port" type="number" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="togglebutton">
                                <label>
                                    <input name="analytics" type="checkbox" {{if analyticsEnabled}} checked="" {{end}}>Anonymous Analytics used to improve Instahelper
                                </label>
                            </div>
                            <div class="togglebutton">
                                <label>
                                    <input name="supportUs" type="checkbox" {{if supportUsEnabled}} checked="" {{end}}>Support The Developers (
                                    <b>Free!</b>)
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}