{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Edit Settings</h4>
                <p class="category">This is for all of Instahelper!</p>
            </div>
            <div class="card-content">
                <form name="changeSettings" action="/api/settings/edit" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating {{if eq (len .C.Username) 0}}is-empty{{end}}">
                                <label class="control-label">Username</label>
                                <input value="{{.C.Username}}" name="username" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <!-- FIX ME - TODO-->
                                <label class="control-label">Password{{ if eq (len .C.Password) 0 }} (No Password Set) {{else}} (Type none for no password)
                                    {{end}}
                                </label>
                                <input name="password" type="password" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="togglebutton">
                                <label>
                                    <input name="analytics" type="checkbox" {{if analyticsEnabled}} checked="" {{end}}>Anonymous analytics used to improve Instahelper
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}