{{define "content"}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h1></h1>
                <h4 class="title">{{if not .DifferentVersion}}Update {{if call .updateAvailable}}
                    <form class="pull-right" action="/api/update" method="POST">
                        <button type="submit" class="btn btn-success pull-right" rel="tooltip">Update
                            <i class="material-icons">get_app</i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                    {{end}} {{else}}
                    <b>Restart your app to experience the latest changes!</b>{{end}}
                </h4>
                <p class="category">You can update to a specific version by clicking the respective button.</p>
                {{if not .DifferentVersion}}
                <p class="category">You are currently on version
                    <b>{{.Version}}</b>
                </p>
                {{end}}
            </div>
            <div class="card-content table-responsive">
                <table class="table table-hover">
                    <thead>
                        <th>Version</th>
                        <th>Name</th>
                        <th>Release Date</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {{range .Releases}}
                        <tr>
                            <td>{{.Version}}</td>
                            <td>{{.Name}}</td>
                            <td>{{.PublishedAt}}</td>
                            <td>
                                {{if .PreRelease}}
                                <b>PRERELEASE:</b>
                                <br> {{end}} {{call $.truncate .Description}}
                            </td>
                            <td class="td-actions text-right">
                                <a href="{{.InfoURL}}">
                                    <button type="button" rel="tooltip" class="btn btn-info" data-original-title="" title="">
                                        <i class="material-icons">info</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </a>
                                <button description="{{.Description}}" version="{{.Version}}" type="button" rel="tooltip" class="btn btn-success update-button"
                                    data-original-title="" title="">
                                    <i class="material-icons">get_app</i>
                                    <div class="ripple-container"></div>
                                </button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}